.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin: 30px auto;
  border-radius: 5px;
  box-shadow: 0 0 20px;
}
.headline {
  color: rgb(83, 245, 105);
}

.name {
  font-size: 36px;
  margin: 10px;
}

.tag {
  font-size: 24px;
  color: rgb(94, 92, 205);
  margin: 10px;
  cursor: pointer;
}

.location {
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: rgb(50, 205, 184);
}

.stats {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding-left: 0;
}

.stats_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid;
  border-radius: 10px;
  margin: 0 15px;
}

.stats_item:hover {
  transform: scale(1.2);
  background-color: rgb(50, 205, 184);
  color: rgb(255, 255, 255);
}

.label {
  margin: 0 15px;
}

.quantity {
  font-size: 24px;
  margin: 0 5px;
}
